<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 image-container border-0">
            <img src="../../../assets/images/signin.jpg" alt="Sign in page Image" class="img-fluid rounded">
        </div>
        <div class="col-md-7 task-manager-content m-0 p-0">
            <div class="container-center">
                <!-- <form class="login-form"> -->
                    <router-outlet></router-outlet>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
