.boxs {
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    flex: 0 0 325px;
}

.text-list {
    margin-bottom: 0;
}

.list-group-item {
    border: none;
    background-color: #f0f0f0;
}

.a-new-list {
    text-decoration: none;
    color: #212529;
}

.font-bold {
    font-weight: 630;
    color: black;
}

.fa-solid {
    color: #7c7c7c;
}

hr {
    width: 90%;
    margin: 1rem auto 1rem auto;
}

.badge {
    background-color: #d1eaed;
    color: #4f5151;
    padding: auto;
}

.active {
    background-color: yellowgreen;
}

.badge:last-child {
    background-color: white;
}

.tag-badge {
    margin: 4px;
    padding: 10px;
}

@media (max-width: 768px) {

    .boxs {
        flex-grow: 1;
        /* Allow the boxes to grow and fill available space */
        margin-bottom: 20px;
        /* Add space between boxes on smaller screens */
    }
}