<div class="boxs">
    <!-- <h5><b>TASKS</b></h5> -->
    <p class="text-list"><b>TASKS</b></p>
    <ul class="list-group">
        <a routerLink="/upcoming" routerLinkActive="actives" class="a-new-list">
            <li class="list-group-item d-flex justify-content-between align-items-start px-1">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                    <div class="font-bold ms-2">Upcoming</div>
                </div>
                <span class="badge text-bg-light rounded-pill">14</span>
            </li>
        </a>
        <a routerLink="/today" routerLinkActive="actives" class="a-new-list">
            <li class="list-group-item d-flex justify-content-between align-items-start px-1">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-calendar-day"></i>
                    </div>
                    <div class="font-bold ms-2">Today</div>
                </div>
                <span class="badge text-bg-light rounded-pill">14</span>
            </li>
        </a>
        <a href="" class="a-new-list">
            <li class="list-group-item d-flex justify-content-between align-items-start px-1">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div class="font-bold ms-2">Calendar</div>
                </div>
            </li>
        </a>
        <a href="" class="a-new-list">
            <li class="list-group-item d-flex justify-content-between align-items-start px-1">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-note-sticky"></i>
                    </div>
                    <div class="font-bold ms-2">Sticky Wall</div>
                </div>
            </li>
        </a>
    </ul>
    <hr>
    <p class="text-list"><b>LISTS</b></p>
    <ul class="list-group list-group-flush">
        <a href="" class="a-new-list">
            <li class="list-group-item d-flex justify-content-between align-items-start px-1">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-note-sticky"></i>
                    </div>
                    <div class="font-bold ms-2">Personal</div>
                </div>
                <span class="badge text-bg-light rounded-pill">14</span>
            </li>
        </a>
        <a href="" class="a-new-list">
            <li class="list-group-item d-flex justify-content-between align-items-start px-1">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-note-sticky"></i>
                    </div>
                    <div class="font-bold ms-2">Work</div>
                </div>
                <span class="badge text-bg-light rounded-pill">14</span>
            </li>
        </a>
        <a href="" class="a-new-list">
            <li class="list-group-item d-flex justify-content-between align-items-start px-1">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="font-bold ms-2">Add New List</div>
                </div>
                <span class="badge text-bg-light rounded-pill">14</span>
            </li>
        </a>
    </ul>
    <hr>
    <!-- <p class="text-list"><b>TAGS</b></p>
    <div class="mb-2">
        <span class="badge tag-badge">Tag 1</span>
        <span class="badge tag-badge">Tag 1</span>
        <a href="/">
            <span class="badge tag-badge">
                <div class="ms-2 me-auto d-flex">
                    <div>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="font-bold ms-2">Add Tag</div>
                </div>
            </span>
        </a>
    </div> -->
    <div>
        <p class="mb-0"><a href="#" (click)="logout()" class="text-decoration-none text-danger">sign out -></a></p>
        <p class="mb-0"><a href="#" class="text-decoration-none text-primary-emphasis">settings -></a></p>
    </div>
</div>
<router-outlet></router-outlet>