<div class="boxs">
   <!-- <h2>Container 2</h2>
    <p>This is the 2nd container.</p> -->
   <h1 class="mb-5"><b>Today</b><span class="badge border rounded ms-5 p-2">14</span></h1>
   <ul class="list-group">
      <a routerLink="addnewtask" routerLinkActive="active" (click)="btnON()" class="a-new-list border rounded">
         <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto d-flex">
               <div>
                  <i class="fa-solid fa-plus"></i>
               </div>
               <div class="font-bold" style="margin-left: 1.3em;">Add New Task</div>
            </div>
         </li>
      </a>
      <div *ngFor="let data of response" class="border-bottom rounded">
         <a class="a-new-list border-bottom rounded" (click)="getData(data)">
            <li class="list-group-item d-flex justify-content-between align-items-start">
               <div class="ms-2 me-auto d-flex flex-wrap">
                  <div class="d-flex">
                     <input class="form-check-input me-3" type="checkbox" value="" id="flexCheckDefault" disabled>
                     <label class="form-check-label w-100" for="flexCheckDefault">
                        <div class="font-bold">{{data.taskName}}</div>
                     </label>
                  </div>
                  <div class="col-sm-11 d-flex ms-5">
                     <span *ngIf="data.dueDate != null && data.dueDate != ''"><i class="fa-solid fa-calendar-xmark me-2"></i>{{data.dueDate}}</span>
                     <span *ngIf="data.listName != null && data.listName != ''"><i class="fa-solid fa-square me-2 ms-4"></i>{{data.listName}}</span>
                  </div>
               </div>
               <span><i class="fa-solid fa-chevron-right"></i></span>
            </li>
         </a>
      </div>
      <!-- <a href="" class="a-new-list border-bottom rounded">
         <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto d-flex">
               <input class="form-check-input me-3" type="checkbox" value="" id="flexCheckDefault" disabled>
               <label class="form-check-label" for="flexCheckDefault">
                  Task 2
               </label>
            </div>
            <span><i class="fa-solid fa-chevron-right"></i></span>
         </li>
      </a>
      <a href="" class="a-new-list rounded">
         <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto d-flex">
               <input class="form-check-input me-3" type="checkbox" value="" id="flexCheckDefault" disabled>
               <label class="form-check-label" for="flexCheckDefault">Task 3</label>
            </div>
            <span><i class="fa-solid fa-chevron-right"></i></span>
         </li>
      </a> -->
   </ul>
</div>
<router-outlet *ngIf="apiService.getBtnToggle()"></router-outlet>