<div class="container-main">
    @if(isUserAuthenticated()){
        <app-taskbar class="d-contents"></app-taskbar>
    }@else {
        <app-signin class="d-contents"></app-signin>
    }
  <!-- <app-addnewtask class="d-contents"></app-addnewtask> -->
  <!-- <app-upcoming class="d-contents"></app-upcoming> -->
  <!-- <app-today class="d-contents"></app-today> -->
  <!-- <div class="box">
      <h2>Container 1</h2>
      <p>This is the first container.</p>
  </div>
  <div class="box">
      <h2>Container 1</h2>
      <p>This is the first container.</p>
  </div> -->
  <!-- <div class="box">
      <h2>Container 1</h2>
      <p>This is the first container.</p>
  </div> -->
</div>
