.container-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* Add some space between containers */
}

.d-contents {
    display: contents;
}

@media (max-width: 768px) {
    .container-main {
        flex-wrap: wrap;
    }
}